<h1 class="title">Edit todo</h1>

<div mat-dialog-content>

  <form action="ngForm" (inSubmit)="onFormSubmit(form)">

    <div class="field">
      <div class="control">
        <input type="text" class="input" placeholder="Type todo text here">
      </div>
    </div>

    <br>


    <div class="field is-grouped is grouped-right">
      <div class="control">
        <button type="button" class="button is-light" (click)="close">Cancel</button>
      </div>
      <div class="control">
        <button class="button" type="submit">save</button>
      </div>
    </div>
  </form>
</div>
